openapi: 3.1.0
info:
  title: Gateway REST API
  version: 4.259.0
tags:
  - name: gateway.openapi_Gateway
    x-displayName: Gateway
  - name: gateway-extra.openapi_Gateway
    x-displayName: Gateway
  - name: responses.openapi_other
    x-displayName: other
  - name: text-completion.openapi_other
    x-displayName: other
  - name: anthropic-messages.openapi_other
    x-displayName: other
paths:
  /v1/accounts:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: List Accounts
      operationId: Gateway_ListAccounts
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayListAccountsResponse'
      parameters:
        - name: pageSize
          description: >-
            The maximum number of accounts to return. The maximum page_size is
            200,

            values above 200 will be coerced to 200.

            If unspecified, the default is 50.
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: pageToken
          description: >-
            A page token, received from a previous ListAccounts call. Provide
            this

            to retrieve the subsequent page. When paginating, all other
            parameters

            provided to ListAccounts must match the call that provided the page

            token.
          in: query
          required: false
          schema:
            type: string
        - name: filter
          description: |-
            Only accounts satisfying the provided filter (if specified) will be
            returned. See https://google.aip.dev/160 for the filter grammar.
          in: query
          required: false
          schema:
            type: string
        - name: orderBy
          description: |-
            Not supported.
            Accounts will be returned ordered by `name`.
          in: query
          required: false
          schema:
            type: string
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/auth/refresh:
    servers:
      - url: https://api.fireworks.ai
    post:
      summary: Refresh a session JWT before expiry with a fresh TTL.
      operationId: Gateway_RefreshSessionToken
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayRefreshSessionTokenResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayRefreshSessionTokenRequest'
        description: Request to refresh an existing session JWT before it expires.
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/creditCodes:redeem:
    servers:
      - url: https://api.fireworks.ai
    post:
      summary: |-
        APIs for credit codes.
        Redeem Credit Code
      operationId: Gateway_RedeemCreditCode
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayRedeemCreditCodeResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayRedeemCreditCodeRequest'
        description: >-
          RedeemCreditCodeRequest is the request to redeem a credit code for an
          account.
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/validateModelConfig:
    servers:
      - url: https://api.fireworks.ai
    post:
      summary: Validate Model Config
      operationId: Gateway_ValidateModelConfig
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayValidateModelConfigRequest'
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: Get Account
      operationId: Gateway_GetAccount
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayAccount'
      parameters:
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/accountUsageFilterOptions:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: >-
        Distinct filter values for an account/time range (serverless +
        dedicated; for FE, separate -yet mirrors GetAccountUsage).
      operationId: Gateway_GetAccountUsageFilterOptions
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/gatewayGetAccountUsageFilterOptionsResponse
      parameters:
        - name: startTime
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: endTime
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: usageType
          description: |-
            If not specified, loads filter options for both usage streams.

             - SERVERLESS: Serverless filter dimensions only (model_name, api_key_id, annotations.*).
             - DEDICATED_DEPLOYMENT: Dedicated deployment filter dimensions (deployment_name, annotations.team, .project, .environment).
          in: query
          required: false
          schema:
            type: string
            enum:
              - USAGE_TYPE_UNSPECIFIED
              - SERVERLESS
              - DEDICATED_DEPLOYMENT
            default: USAGE_TYPE_UNSPECIFIED
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/auditLogs:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: List User Audit Logs
      operationId: Gateway_ListAuditLogs
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayListAuditLogsResponse'
      parameters:
        - name: startTime
          description: |-
            Start time of the audit logs to retrieve.
            If unspecified, the default is 30 days before now.
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: endTime
          description: |-
            End time of the audit logs to retrieve.
            If unspecified, the default is the current time.
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: email
          description: |-
            Optional.
            Filter audit logs for user email associated with the account.
          in: query
          required: false
          schema:
            type: string
        - name: pageSize
          description: >-
            The maximum number of audit logs to return. The maximum page_size is
            200,

            values above 200 will be coerced to 200.

            If unspecified, the default is 10.
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: pageToken
          description: >-
            A page token, received from a previous ListAuditLogs call. Provide
            this

            to retrieve the subsequent page. When paginating, all other
            parameters

            provided to ListAuditLogs must match the call that provided the page

            token.
          in: query
          required: false
          schema:
            type: string
        - name: filter
          description: Unused but required to use existing ListRequest functionality.
          in: query
          required: false
          schema:
            type: string
        - name: orderBy
          description: Unused but required to use existing ListRequest functionality.
          in: query
          required: false
          schema:
            type: string
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/batchInferenceJobs:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: List Batch Inference Jobs
      operationId: Gateway_ListBatchInferenceJobs
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayListBatchInferenceJobsResponse'
      parameters:
        - name: pageSize
          description: >-
            The maximum number of batch inference jobs to return. The maximum
            page_size is 200,

            values above 200 will be coerced to 200.

            If unspecified, the default is 50.
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: pageToken
          description: >-
            A page token, received from a previous ListBatchInferenceJobs call.
            Provide this

            to retrieve the subsequent page. When paginating, all other
            parameters

            provided to ListBatchInferenceJobs must match the call that provided
            the page

            token.
          in: query
          required: false
          schema:
            type: string
        - name: filter
          description: |-
            Only jobs satisfying the provided filter (if specified) will be
            returned. See https://google.aip.dev/160 for the filter grammar.
          in: query
          required: false
          schema:
            type: string
        - name: orderBy
          description: >-
            A comma-separated list of fields to order by. e.g. "foo,bar"

            The default sort order is ascending. To specify a descending order
            for a

            field, append a " desc" suffix. e.g. "foo desc,bar"

            Subfields are specified with a "." character. e.g. "foo.bar"

            If not specified, the default order is by "created_time".
          in: query
          required: false
          schema:
            type: string
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    post:
      summary: Create Batch Inference Job
      operationId: Gateway_CreateBatchInferenceJob
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayBatchInferenceJob'
      parameters:
        - name: batchInferenceJobId
          description: ID of the batch inference job.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayBatchInferenceJob'
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/batchInferenceJobs/{batch_inference_job_id}:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: Get Batch Inference Job
      operationId: Gateway_GetBatchInferenceJob
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayBatchInferenceJob'
      parameters:
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: batch_inference_job_id
          in: path
          required: true
          description: The Batch Inference Job Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    delete:
      summary: Delete Batch Inference Job
      operationId: Gateway_DeleteBatchInferenceJob
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: batch_inference_job_id
          in: path
          required: true
          description: The Batch Inference Job Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/billing/summary:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: Get billing summary information for an account
      operationId: Gateway_GetBillingSummary
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayGetBillingSummaryResponse'
      parameters:
        - name: startTime
          description: >-
            Start time for the billing period.

            Note: Costs are aggregated daily. Only the date portion (YYYY-MM-DD)
            is used;

            the time portion is ignored. For example, 2025-10-05T07:18:29Z and

            2025-10-05T23:59:59Z are treated the same as 2025-10-05T00:00:00Z.
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: endTime
          description: >-
            End time for the billing period (exclusive).

            Note: Costs are aggregated daily. Only the date portion (YYYY-MM-DD)
            is used;

            the time portion is ignored. Costs for the end date are NOT
            included.

            For example, to get costs for Oct 5 and Oct 6, use:
              start_time: 2025-10-05T00:00:00Z
              end_time: 2025-10-07T00:00:00Z (Oct 7 is excluded)
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/billingUsage:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: >-
        Get account usage (serverless and dedicated deployments).

        Optionally filter by usage type via the usage_type field. If not
        specified, returns all usage types.

        TODO: rename this to /accountUsage
      operationId: Gateway_GetAccountUsage
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayAccountUsage'
      parameters:
        - name: startTime
          description: |-
            Costs returned are inclusive of `start_time`.
            start_time must be before end_time.
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: endTime
          description: |-
            Costs returned are exclusive of `end_time`.
            end_time must not be more than 31 days after start_time.
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: usageType
          description: >-
            Usage type to query usage for

            If not specified, returns all usage types (both serverless and
            dedicated deployments).

             - USAGE_TYPE_UNSPECIFIED: Default value. When specified (or when usage_type field is not set),
            returns usage data for all deployment types: both serverless
            requests and dedicated deployments.
             - SERVERLESS: Returns only serverless usage data.
            Filters the response to include only usage from serverless API
            requests.
             - DEDICATED_DEPLOYMENT: Returns only dedicated deployment usage data.
            Filters the response to include only usage from dedicated
            deployments.
          in: query
          required: false
          schema:
            type: string
            enum:
              - USAGE_TYPE_UNSPECIFIED
              - SERVERLESS
              - DEDICATED_DEPLOYMENT
            default: USAGE_TYPE_UNSPECIFIED
        - name: timezone
          description: >-
            IANA timezone identifier for daily aggregation (e.g.,
            "America/Los_Angeles", "Europe/London").

            When specified, the returned data will be aggregated into daily
            buckets based on this timezone.

            If not specified or empty, defaults to "UTC".

            See: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
          in: query
          required: false
          schema:
            type: string
        - name: groupBy
          description: >-
            Dimension to group usage by (at most one value; repeated for wire
            compatibility).

            Serverless: "model_name", "api_key_id", "annotations.team",
            "annotations.project", "annotations.environment".

            Dedicated: "deployment_name", "accelerator_type", and the same
            annotation keys.

            When usage_type is unspecified, dimensions that apply only to the
            other stream are ignored there

            (e.g. "deployment_name" and "accelerator_type" are ignored for
            serverless; "model_name" and "api_key_id" for dedicated).

            Example: ["annotations.team"] or ["model_name"].

            If empty: serverless aggregates by model name; dedicated defaults to
            deployment and accelerator type.
          in: query
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: filter
          description: >-
            This is a request variable of the map type. The query format is
            "map_name[key]=value", e.g. If the map name is Age, the key type is
            string, and the value type is integer, the query parameter is
            expressed as Age["bob"]=18
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/checkpoints/{checkpoint_id}:promote:
    servers:
      - url: https://api.fireworks.ai
    post:
      summary: >-
        Promote a checkpoint to a model.

        The checkpoint is identified by account + snapshot ID; the trainer job
        ID

        is passed in the request body to resolve the GCS bucket.
      operationId: Gateway_PromoteCheckpoint
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayPromoteCheckpointResponse'
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: checkpoint_id
          in: path
          required: true
          description: The Checkpoint Id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayPromoteCheckpointBody'
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/clusters:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: List Clusters
      operationId: Gateway_ListClusters
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayListClustersResponse'
      parameters:
        - name: pageSize
          description: >-
            The maximum number of clusters to return. The maximum page_size is
            200,

            values above 200 will be coerced to 200.

            If unspecified, the default is 50.
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: pageToken
          description: >-
            A page token, received from a previous ListClusters call. Provide
            this

            to retrieve the subsequent page. When paginating, all other
            parameters

            provided to ListClusters must match the call that provided the page

            token.
          in: query
          required: false
          schema:
            type: string
        - name: filter
          description: |-
            Only clusters satisfying the provided filter (if specified) will be
            returned. See https://google.aip.dev/160 for the filter grammar.
          in: query
          required: false
          schema:
            type: string
        - name: orderBy
          description: >-
            A comma-separated list of fields to order by. e.g. "foo,bar"

            The default sort order is ascending. To specify a descending order
            for a

            field, append a " desc" suffix. e.g. "foo desc,bar"

            Subfields are specified with a "." character. e.g. "foo.bar"

            If not specified, the default order is by "name".
          in: query
          required: false
          schema:
            type: string
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    post:
      summary: Create Cluster
      operationId: Gateway_CreateCluster
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCluster'
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayCreateClusterBody'
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/clusters/{cluster_id}:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: Get Cluster
      operationId: Gateway_GetCluster
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCluster'
      parameters:
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: cluster_id
          in: path
          required: true
          description: The Cluster Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    patch:
      summary: Update Cluster
      operationId: Gateway_UpdateCluster
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayCluster'
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: cluster_id
          in: path
          required: true
          description: The Cluster Id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  description: >-
                    Human-readable display name of the cluster. e.g. "My
                    Cluster"

                    Must be fewer than 64 characters long.
                createTime:
                  type: string
                  format: date-time
                  description: The creation time of the cluster.
                  readOnly: true
                eksCluster:
                  $ref: '#/components/schemas/gatewayEksCluster'
                fakeCluster:
                  $ref: '#/components/schemas/gatewayFakeCluster'
                state:
                  $ref: '#/components/schemas/gatewayClusterState'
                  description: The current state of the cluster.
                  readOnly: true
                status:
                  $ref: '#/components/schemas/gatewayStatus'
                  description: >-
                    Detailed information about the current status of the
                    cluster.
                  readOnly: true
                updateTime:
                  type: string
                  format: date-time
                  description: The update time for the cluster.
                  readOnly: true
              title: |-
                The properties of the cluster being updated. `cluster.name` must
                be populated with the updated resource's name.
        description: |-
          The properties of the cluster being updated. `cluster.name` must
          be populated with the updated resource's name.
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    delete:
      summary: Delete Cluster
      operationId: Gateway_DeleteCluster
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: cluster_id
          in: path
          required: true
          description: The Cluster Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/clusters/{cluster_id}:getConnectionInfo:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: Get Cluster Connection Info
      description: Retrieve connection settings for the cluster to be put in kubeconfig
      operationId: Gateway_GetClusterConnectionInfo
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayClusterConnectionInfo'
      parameters:
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: cluster_id
          in: path
          required: true
          description: The Cluster Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/creditRedemptions:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: List Credit Redemptions
      operationId: Gateway_ListCreditRedemptions
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayListCreditRedemptionsResponse'
      parameters:
        - name: pageSize
          description: The maximum number of redemptions to return
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: pageToken
          description: A page token, received from a previous ListCreditRedemptions call
          in: query
          required: false
          schema:
            type: string
        - name: filter
          description: Filter string to filter redemptions
          in: query
          required: false
          schema:
            type: string
        - name: orderBy
          description: >-
            A comma-separated list of fields to order by. e.g. "foo,bar"

            The default sort order is ascending. To specify a descending order
            for a

            field, append a " desc" suffix. e.g. "foo desc,bar"
          in: query
          required: false
          schema:
            type: string
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/datasets:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: List Datasets
      operationId: Gateway_ListDatasets
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayListDatasetsResponse'
      parameters:
        - name: pageSize
          description: >-
            The maximum number of datasets to return. The maximum page_size is
            200,

            values above 200 will be coerced to 200.

            If unspecified, the default is 50.
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: pageToken
          description: >-
            A page token, received from a previous ListDatasets call. Provide
            this

            to retrieve the subsequent page. When paginating, all other
            parameters

            provided to ListDatasets must match the call that provided the page

            token.
          in: query
          required: false
          schema:
            type: string
        - name: filter
          description: |-
            Only model satisfying the provided filter (if specified) will be
            returned. See https://google.aip.dev/160 for the filter grammar.
          in: query
          required: false
          schema:
            type: string
        - name: orderBy
          description: >-
            A comma-separated list of fields to order by. e.g. "foo,bar"

            The default sort order is ascending. To specify a descending order
            for a

            field, append a " desc" suffix. e.g. "foo desc,bar"

            Subfields are specified with a "." character. e.g. "foo.bar"

            If not specified, the default order is by "name".
          in: query
          required: false
          schema:
            type: string
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    post:
      summary: Create Dataset
      operationId: Gateway_CreateDataset
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDataset'
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayCreateDatasetBody'
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/datasets/{dataset_id}:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: Get Dataset
      operationId: Gateway_GetDataset
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDataset'
      parameters:
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: dataset_id
          in: path
          required: true
          description: The Dataset Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    patch:
      summary: Update Dataset
      operationId: Gateway_UpdateDataset
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDataset'
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: dataset_id
          in: path
          required: true
          description: The Dataset Id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                createTime:
                  type: string
                  format: date-time
                  readOnly: true
                state:
                  $ref: '#/components/schemas/gatewayDatasetState'
                  readOnly: true
                status:
                  $ref: '#/components/schemas/gatewayStatus'
                  readOnly: true
                exampleCount:
                  type: string
                  format: int64
                userUploaded:
                  $ref: '#/components/schemas/gatewayUserUploaded'
                evaluationResult:
                  $ref: '#/components/schemas/gatewayEvaluationResult'
                transformed:
                  $ref: '#/components/schemas/gatewayTransformed'
                splitted:
                  $ref: '#/components/schemas/gatewaySplitted'
                evalProtocol:
                  $ref: '#/components/schemas/gatewayEvalProtocol'
                externalUrl:
                  type: string
                  title: The external URI of the dataset. e.g. gs://foo/bar/baz.jsonl
                format:
                  $ref: '#/components/schemas/DatasetFormat'
                createdBy:
                  type: string
                  description: >-
                    The email address of the user who initiated this fine-tuning
                    job.
                  readOnly: true
                updateTime:
                  type: string
                  format: date-time
                  description: The update time for the dataset.
                  readOnly: true
                sourceJobName:
                  type: string
                  description: >-
                    The resource name of the job that created this dataset
                    (e.g., batch inference job).

                    Used for lineage tracking to understand dataset provenance.
                estimatedTokenCount:
                  type: string
                  format: int64
                  description: The estimated number of tokens in the dataset.
                  readOnly: true
                averageTurnCount:
                  type: number
                  format: float
                  description: >-
                    An estimate of the average number of turns per sample in the
                    dataset.
                  readOnly: true
              title: |-
                The properties of the Dataset being updated. `dataset.name` must
                be populated with the updated resource's name.
        description: |-
          The properties of the Dataset being updated. `dataset.name` must
          be populated with the updated resource's name.
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    delete:
      summary: Delete Dataset
      operationId: Gateway_DeleteDataset
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: dataset_id
          in: path
          required: true
          description: The Dataset Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/datasets/{dataset_id}:getDownloadEndpoint:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: Get Dataset Download Endpoint
      operationId: Gateway_GetDatasetDownloadEndpoint
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayGetDatasetDownloadEndpointResponse'
      parameters:
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: downloadLineage
          description: |-
            If true, downloads entire lineage chain (all related datasets).
            Filenames will be prefixed with dataset IDs to avoid collisions.
          in: query
          required: false
          schema:
            type: boolean
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: dataset_id
          in: path
          required: true
          description: The Dataset Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/datasets/{dataset_id}:getUploadEndpoint:
    servers:
      - url: https://api.fireworks.ai
    post:
      summary: Get Dataset Upload Endpoint
      operationId: Gateway_GetDatasetUploadEndpoint
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayGetDatasetUploadEndpointResponse'
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: dataset_id
          in: path
          required: true
          description: The Dataset Id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayGetDatasetUploadEndpointBody'
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/datasets/{dataset_id}:splitDataset:
    servers:
      - url: https://api.fireworks.ai
    post:
      operationId: Gateway_SplitDataset
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewaySplitDatasetResponse'
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: dataset_id
          in: path
          required: true
          description: The Dataset Id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewaySplitDatasetBody'
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/datasets/{dataset_id}:validateUpload:
    servers:
      - url: https://api.fireworks.ai
    post:
      summary: Validate Dataset Upload
      operationId: Gateway_ValidateDatasetUpload
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: dataset_id
          in: path
          required: true
          description: The Dataset Id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayValidateDatasetUploadBody'
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/deployedModels:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: List LoRAs
      operationId: Gateway_ListDeployedModels
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayListDeployedModelsResponse'
      parameters:
        - name: pageSize
          description: >-
            The maximum number of deployed models to return. The maximum
            page_size is 200,

            values above 200 will be coerced to 200.

            If unspecified, the default is 50.
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: pageToken
          description: >-
            A page token, received from a previous ListDeployedModels call.
            Provide this

            to retrieve the subsequent page. When paginating, all other
            parameters

            provided to ListDeployedModels must match the call that provided the
            page

            token.
          in: query
          required: false
          schema:
            type: string
        - name: filter
          description: >-
            Only depoyed models satisfying the provided filter (if specified)
            will be

            returned. See https://google.aip.dev/160 for the filter grammar.
          in: query
          required: false
          schema:
            type: string
        - name: orderBy
          description: >-
            A comma-separated list of fields to order by. e.g. "foo,bar"

            The default sort order is ascending. To specify a descending order
            for a

            field, append a " desc" suffix. e.g. "foo desc,bar"

            Subfields are specified with a "." character. e.g. "foo.bar"

            If not specified, the default order is by "name".
          in: query
          required: false
          schema:
            type: string
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    post:
      summary: Load LoRA
      operationId: Gateway_CreateDeployedModel
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeployedModel'
      parameters:
        - name: replaceMergedAddon
          description: >-
            Merges new addon to the base model, while unmerging/deleting any
            existing addon in the deployment. Must be specified for hot reload
            deployments
          in: query
          required: false
          schema:
            type: boolean
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayDeployedModel'
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/deployedModels/{deployed_model_id}:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: Get LoRA
      operationId: Gateway_GetDeployedModel
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeployedModel'
      parameters:
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: deployed_model_id
          in: path
          required: true
          description: The Deployed Model Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    patch:
      summary: Update LoRA
      operationId: Gateway_UpdateDeployedModel
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeployedModel'
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: deployed_model_id
          in: path
          required: true
          description: The Deployed Model Id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                description:
                  type: string
                  description: Description of the resource.
                createTime:
                  type: string
                  format: date-time
                  description: The creation time of the resource.
                  readOnly: true
                model:
                  type: string
                  title: |-
                    The resource name of the model to be deployed.
                    e.g. accounts/my-account/models/my-model
                deployment:
                  type: string
                  description: >-
                    The resource name of the base deployment the model is
                    deployed to.
                default:
                  type: boolean
                  description: >-
                    If true, this is the default target when querying this model
                    without

                    the `#<deployment>` suffix.

                    The first deployment a model is deployed to will have this
                    field set to true.
                state:
                  $ref: '#/components/schemas/gatewayDeployedModelState'
                  description: The state of the deployed model.
                  readOnly: true
                serverless:
                  type: boolean
                  title: True if the underlying deployment is managed by Fireworks
                status:
                  $ref: '#/components/schemas/gatewayStatus'
                  description: Contains model deploy/undeploy details.
                  readOnly: true
                public:
                  type: boolean
                  description: If true, the deployed model will be publicly reachable.
                updateTime:
                  type: string
                  format: date-time
                  description: The update time for the deployed model.
                  readOnly: true
              title: >-
                The properties of the deployed model being updated.
                `deployed_model.name` must

                be populated with the updated resource's name.
        description: >-
          The properties of the deployed model being updated.
          `deployed_model.name` must

          be populated with the updated resource's name.
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    delete:
      summary: Unload LoRA
      operationId: Gateway_DeleteDeployedModel
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: deployed_model_id
          in: path
          required: true
          description: The Deployed Model Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/deploymentShapes:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: List Deployment Shapes
      operationId: Gateway_ListDeploymentShapes
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayListDeploymentShapesResponse'
      parameters:
        - name: pageSize
          description: >-
            The maximum number of deployments to return. The maximum page_size
            is 200,

            values above 200 will be coerced to 200.

            If unspecified, the default is 50.
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: pageToken
          description: >-
            A page token, received from a previous ListDeploymentShapes call.
            Provide this

            to retrieve the subsequent page. When paginating, all other
            parameters

            provided to ListDeploymentShapes must match the call that provided
            the page

            token.
          in: query
          required: false
          schema:
            type: string
        - name: filter
          description: >-
            Only deployment satisfying the provided filter (if specified) will
            be

            returned. See https://google.aip.dev/160 for the filter grammar.
          in: query
          required: false
          schema:
            type: string
        - name: orderBy
          description: >-
            A comma-separated list of fields to order by. e.g. "foo,bar"

            The default sort order is ascending. To specify a descending order
            for a

            field, append a " desc" suffix. e.g. "foo desc,bar"

            Subfields are specified with a "." character. e.g. "foo.bar"

            If not specified, the default order is by "create_time".
          in: query
          required: false
          schema:
            type: string
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: targetModel
          description: >-
            Target model that the returned deployment shapes should be
            compatible with.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    post:
      summary: |-
        CRUD APIs for deployment shape.
        Create Deployment Shape
      operationId: Gateway_CreateDeploymentShape
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeploymentShape'
      parameters:
        - name: deploymentShapeId
          description: >-
            The ID of the deployment shape. If not specified, a random ID will
            be generated.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayDeploymentShape'
        description: The properties of the deployment shape being created.
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/deploymentShapes/{deployment_shape_id}:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: Get Deployment Shape
      operationId: Gateway_GetDeploymentShape
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeploymentShape'
      parameters:
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: skipShapeValidation
          description: |-
            If true, returns the latest version regardless of validation status.
            By default, returns the latest validated version.
          in: query
          required: false
          schema:
            type: boolean
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: deployment_shape_id
          in: path
          required: true
          description: The Deployment Shape Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    patch:
      summary: Update Deployment Shape
      operationId: Gateway_UpdateDeploymentShape
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeploymentShape'
      parameters:
        - name: fromLatestValidated
          description: >-
            When true, the update will use the latest validated version snapshot
            as the base

            for fields not present in the update mask; otherwise, the current
            shape is used.
          in: query
          required: false
          schema:
            type: boolean
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: deployment_shape_id
          in: path
          required: true
          description: The Deployment Shape Id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  description: >-
                    Human-readable display name of the deployment shape. e.g.
                    "My Deployment Shape"

                    Must be fewer than 64 characters long.
                description:
                  type: string
                  description: >-
                    The description of the deployment shape. Must be fewer than
                    1000 characters long.
                createTime:
                  type: string
                  format: date-time
                  description: The creation time of the deployment shape.
                  readOnly: true
                updateTime:
                  type: string
                  format: date-time
                  description: The update time for the deployment shape.
                  readOnly: true
                baseModel:
                  type: string
                  title: >-
                    The base model name. e.g.
                    accounts/fireworks/models/falcon-7b
                modelType:
                  type: string
                  description: The model type of the base model.
                  readOnly: true
                parameterCount:
                  type: string
                  format: int64
                  description: The parameter count of the base model .
                  readOnly: true
                acceleratorCount:
                  type: integer
                  format: int32
                  description: >-
                    The number of accelerators used per replica.

                    If not specified, the default is the estimated minimum
                    required by the base model.
                acceleratorType:
                  $ref: '#/components/schemas/gatewayAcceleratorType'
                  description: |-
                    The type of accelerator to use.
                    If not specified, the default is NVIDIA_A100_80GB.
                precision:
                  $ref: '#/components/schemas/DeploymentPrecision'
                  description: The precision with which the model should be served.
                disableDeploymentSizeValidation:
                  type: boolean
                  description: If true, the deployment size validation is disabled.
                enableAddons:
                  type: boolean
                  description: >-
                    If true, LORA addons are enabled for deployments created
                    from this shape.
                draftTokenCount:
                  type: integer
                  format: int32
                  description: >-
                    The number of candidate tokens to generate per step for
                    speculative

                    decoding.

                    Default is the base model's draft_token_count.
                draftModel:
                  type: string
                  description: >-
                    The draft model name for speculative decoding. e.g.
                    accounts/fireworks/models/my-draft-model

                    If empty, speculative decoding using a draft model is
                    disabled.

                    Default is the base model's default_draft_model.

                    Deprecated: set default_draft_model on the base model
                    instead.
                ngramSpeculationLength:
                  type: integer
                  format: int32
                  description: >-
                    The length of previous input sequence to be considered for
                    N-gram speculation.
                disableSpeculativeDecoding:
                  type: boolean
                  description: >-
                    If true, speculative decoding is disabled for deployments
                    created from this shape,

                    even if the base model has default draft model settings.
                enableSessionAffinity:
                  type: boolean
                  description: Whether to apply sticky routing based on `user` field.
                numLoraDeviceCached:
                  type: integer
                  format: int32
                  title: How many LORA adapters to keep on GPU side for caching
                maxContextLength:
                  type: integer
                  format: int32
                  description: >-
                    The maximum context length supported by the model (context
                    window).

                    If set to 0 or not specified, the model's default maximum
                    context length will be used.
                presetType:
                  $ref: '#/components/schemas/DeploymentShapePresetType'
                  description: >-
                    Type of deployment shape for different deployment
                    configurations.
              title: >-
                The properties of the deployment shape being updated.
                `deployment_shape.name` must

                be populated with the updated resource's name.
              required:
                - baseModel
        description: >-
          The properties of the deployment shape being updated.
          `deployment_shape.name` must

          be populated with the updated resource's name.
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    delete:
      summary: Delete Deployment Shape
      operationId: Gateway_DeleteDeploymentShape
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: deployment_shape_id
          in: path
          required: true
          description: The Deployment Shape Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/deploymentShapes/{deployment_shape_id}/versions:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: List Deployment Shapes Versions
      operationId: Gateway_ListDeploymentShapeVersions
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/gatewayListDeploymentShapeVersionsResponse
      parameters:
        - name: pageSize
          description: >-
            The maximum number of deployment shape versions to return. The
            maximum page_size is 200,

            values above 200 will be coerced to 200.

            If unspecified, the default is 50.
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: pageToken
          description: >-
            A page token, received from a previous ListDeploymentShapeVersions
            call. Provide this

            to retrieve the subsequent page. When paginating, all other
            parameters

            provided to ListDeploymentShapeVersions must match the call that
            provided the page

            token.
          in: query
          required: false
          schema:
            type: string
        - name: filter
          description: >-
            Only deployment shape versions satisfying the provided filter (if
            specified) will be

            returned. See https://google.aip.dev/160 for the filter grammar.
          in: query
          required: false
          schema:
            type: string
        - name: orderBy
          description: >-
            A comma-separated list of fields to order by. e.g. "foo,bar"

            The default sort order is ascending. To specify a descending order
            for a

            field, append a " desc" suffix. e.g. "foo desc,bar"

            Subfields are specified with a "." character. e.g. "foo.bar"

            If not specified, the default order is by "create_time".
          in: query
          required: false
          schema:
            type: string
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: deployment_shape_id
          in: path
          required: true
          description: The Deployment Shape Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/deploymentShapes/{deployment_shape_id}/versions/{version_id}:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: Get Deployment Shape Version
      operationId: Gateway_GetDeploymentShapeVersion
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeploymentShapeVersion'
      parameters:
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: deployment_shape_id
          in: path
          required: true
          description: The Deployment Shape Id
          schema:
            type: string
        - name: version_id
          in: path
          required: true
          description: The Version Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    patch:
      summary: Update Deployment Shape Version
      operationId: Gateway_UpdateDeploymentShapeVersion
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeploymentShapeVersion'
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: deployment_shape_id
          in: path
          required: true
          description: The Deployment Shape Id
          schema:
            type: string
        - name: version_id
          in: path
          required: true
          description: The Version Id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                createTime:
                  type: string
                  format: date-time
                  description: >-
                    The creation time of the deployment shape version. Lists
                    will be ordered by this field.
                  readOnly: true
                snapshot:
                  $ref: '#/components/schemas/gatewayDeploymentShape'
                  description: Full snapshot of the Deployment Shape at this version.
                  readOnly: true
                validated:
                  type: boolean
                  description: If true, this version has been validated.
                public:
                  type: boolean
                  description: If true, this version will be publicly readable.
                latestValidated:
                  type: boolean
                  description: >-
                    If true, this version is the latest validated version.

                    Only one version of the shape can be the latest validated
                    version.
                  readOnly: true
              title: >-
                The properties of the deployment shape version being updated.
                `deployment_shape_version.name` must

                be populated with the updated resource's name.
        description: >-
          The properties of the deployment shape version being updated.
          `deployment_shape_version.name` must

          be populated with the updated resource's name.
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/deployments:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: List Deployments
      operationId: Gateway_ListDeployments
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayListDeploymentsResponse'
      parameters:
        - name: pageSize
          description: >-
            The maximum number of deployments to return. The maximum page_size
            is 200,

            values above 200 will be coerced to 200.

            If unspecified, the default is 50.
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: pageToken
          description: >-
            A page token, received from a previous ListDeployments call. Provide
            this

            to retrieve the subsequent page. When paginating, all other
            parameters

            provided to ListDeployments must match the call that provided the
            page

            token.
          in: query
          required: false
          schema:
            type: string
        - name: filter
          description: >-
            Only deployment satisfying the provided filter (if specified) will
            be

            returned. See https://google.aip.dev/160 for the filter grammar.
          in: query
          required: false
          schema:
            type: string
        - name: orderBy
          description: >-
            A comma-separated list of fields to order by. e.g. "foo,bar"

            The default sort order is ascending. To specify a descending order
            for a

            field, append a " desc" suffix. e.g. "foo desc,bar"

            Subfields are specified with a "." character. e.g. "foo.bar"

            If not specified, the default order is by "create_time".
          in: query
          required: false
          schema:
            type: string
        - name: showDeleted
          description: If set, DELETED deployments will be included.
          in: query
          required: false
          schema:
            type: boolean
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    post:
      summary: Create Deployment
      operationId: Gateway_CreateDeployment
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeployment'
      parameters:
        - name: disableAutoDeploy
          description: >-
            By default, a deployment created with a currently undeployed base
            model

            will be deployed to this deployment. If true, this auto-deploy
            function

            is disabled.
          in: query
          required: false
          schema:
            type: boolean
        - name: disableSpeculativeDecoding
          description: >-
            By default, a deployment will use the speculative decoding settings
            from

            the base model. If true, this will disable speculative decoding.
          in: query
          required: false
          schema:
            type: boolean
        - name: deploymentId
          description: >-
            The ID of the deployment. If not specified, a random ID will be
            generated.
          in: query
          required: false
          schema:
            type: string
        - name: validateOnly
          description: >-
            If true, this will not create the deployment, but will return the
            deployment

            that would be created.
          in: query
          required: false
          schema:
            type: boolean
        - name: skipShapeValidation
          description: >-
            By default, a deployment will ensure the deployment shape provided
            is validated.

            If true, we will not require the deployment shape to be validated.
          in: query
          required: false
          schema:
            type: boolean
        - name: skipImageTagValidation
          description: >-
            If true, skip the image tag policy validation that blocks certain
            image tags.

            This allows creating deployments with image tags that would
            otherwise be blocked.
          in: query
          required: false
          schema:
            type: boolean
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayDeployment'
        description: The properties of the deployment being created.
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/deployments/{deployment_id}:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: Get Deployment
      operationId: Gateway_GetDeployment
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeployment'
      parameters:
        - name: readMask
          description: >-
            The fields to be returned in the response. If empty or "*", all
            fields will be returned.
          in: query
          required: false
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: deployment_id
          in: path
          required: true
          description: The Deployment Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    patch:
      summary: Update Deployment
      operationId: Gateway_UpdateDeployment
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayDeployment'
      parameters:
        - name: skipShapeValidation
          description: >-
            By default, updating a deployment shape will ensure the new
            deployment shape provided is validated.

            If true, we will not require the deployment shape to be validated.
          in: query
          required: false
          schema:
            type: boolean
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: deployment_id
          in: path
          required: true
          description: The Deployment Id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  description: >-
                    Human-readable display name of the deployment. e.g. "My
                    Deployment"

                    Must be fewer than 64 characters long.
                description:
                  type: string
                  description: Description of the deployment.
                createTime:
                  type: string
                  format: date-time
                  description: The creation time of the deployment.
                  readOnly: true
                expireTime:
                  type: string
                  format: date-time
                  description: >-
                    Deprecated: This field is deprecated and no longer causes
                    auto-deletion.

                    The time at which this deployment will automatically be
                    deleted.
                purgeTime:
                  type: string
                  format: date-time
                  description: The time at which the resource will be hard deleted.
                  readOnly: true
                deleteTime:
                  type: string
                  format: date-time
                  description: The time at which the resource will be soft deleted.
                  readOnly: true
                state:
                  $ref: '#/components/schemas/gatewayDeploymentState'
                  description: The state of the deployment.
                  readOnly: true
                status:
                  $ref: '#/components/schemas/gatewayStatus'
                  description: >-
                    Detailed status information regarding the most recent
                    operation.
                  readOnly: true
                annotations:
                  type: object
                  additionalProperties:
                    type: string
                  description: >-
                    Annotations to identify deployment properties.

                    Key/value pairs may be used by external tools or other
                    services.

                    The "image-tag-reason" key is redacted from API responses
                    for non-superuser principals.
                minReplicaCount:
                  type: integer
                  format: int32
                  description: |-
                    The minimum number of replicas.
                    If not specified, the default is 0.
                maxReplicaCount:
                  type: integer
                  format: int32
                  description: |-
                    The maximum number of replicas.
                    If not specified, the default is max(min_replica_count, 1).
                    May be set to 0 to downscale the deployment to 0.
                maxWithRevocableReplicaCount:
                  type: integer
                  format: int32
                  description: >-
                    max_with_revocable_replica_count is max replica count
                    including revocable capacity.

                    The max revocable capacity will be
                    max_with_revocable_replica_count - max_replica_count.
                desiredReplicaCount:
                  type: integer
                  format: int32
                  description: >-
                    The desired number of replicas for this deployment. This
                    represents the target

                    replica count that the system is trying to achieve.
                  readOnly: true
                replicaCount:
                  type: integer
                  format: int32
                  readOnly: true
                autoscalingPolicy:
                  $ref: '#/components/schemas/gatewayAutoscalingPolicy'
                baseModel:
                  type: string
                  title: >-
                    The base model name. e.g.
                    accounts/fireworks/models/falcon-7b
                acceleratorCount:
                  type: integer
                  format: int32
                  description: >-
                    The number of accelerators used per replica.

                    If not specified, the default is the estimated minimum
                    required by the

                    base model.
                acceleratorType:
                  $ref: '#/components/schemas/gatewayAcceleratorType'
                  description: The type of accelerator to use.
                precision:
                  $ref: '#/components/schemas/DeploymentPrecision'
                  description: The precision with which the model should be served.
                cluster:
                  type: string
                  description: >-
                    If set, this deployment is deployed to a cloud-premise
                    cluster.
                  readOnly: true
                enableAddons:
                  type: boolean
                  description: If true, PEFT addons are enabled for this deployment.
                draftTokenCount:
                  type: integer
                  format: int32
                  description: >-
                    The number of candidate tokens to generate per step for
                    speculative

                    decoding.

                    Default is the base model's draft_token_count. Set

                    CreateDeploymentRequest.disable_speculative_decoding to
                    false to disable

                    this behavior.
                draftModel:
                  type: string
                  description: >-
                    The draft model name for speculative decoding. e.g.
                    accounts/fireworks/models/my-draft-model

                    If empty, speculative decoding using a draft model is
                    disabled.

                    Default is the base model's default_draft_model. Set

                    CreateDeploymentRequest.disable_speculative_decoding to
                    false to disable

                    this behavior.
                ngramSpeculationLength:
                  type: integer
                  format: int32
                  description: >-
                    The length of previous input sequence to be considered for
                    N-gram speculation.
                enableSessionAffinity:
                  type: boolean
                  description: |-
                    Whether to apply sticky routing based on `user` field.
                    Serverless will be set to true when creating deployment.
                directRouteApiKeys:
                  type: array
                  items:
                    type: string
                  description: >-
                    The set of API keys used to access the direct route
                    deployment. If direct routing is not enabled, this field is
                    unused.
                numPeftDeviceCached:
                  type: integer
                  format: int32
                  title: How many peft adapters to keep on gpu side for caching
                directRouteType:
                  $ref: '#/components/schemas/gatewayDirectRouteType'
                  description: >-
                    If set, this deployment will expose an endpoint that
                    bypasses the Fireworks API gateway.
                directRouteHandle:
                  type: string
                  description: >-
                    The handle for calling a direct route. The meaning of the
                    handle depends on the

                    direct route type of the deployment:
                       INTERNET                    -> The host name for accessing the deployment
                       GCP_PRIVATE_SERVICE_CONNECT -> The service attachment name used to create the PSC endpoint.
                       AWS_PRIVATELINK             -> The service name used to create the VPC endpoint.
                  readOnly: true
                deploymentTemplate:
                  type: string
                  description: >-
                    The name of the deployment template to use for this
                    deployment. Only

                    available to enterprise accounts.
                autoTune:
                  $ref: '#/components/schemas/gatewayAutoTune'
                  description: The performance profile to use for this deployment.
                placement:
                  $ref: '#/components/schemas/gatewayPlacement'
                  description: >-
                    The desired geographic region where the deployment must be
                    placed.

                    If unspecified, the default is the GLOBAL multi-region.
                region:
                  $ref: '#/components/schemas/gatewayRegion'
                  description: >-
                    The geographic region where the deployment is presently
                    located. This region may change

                    over time, but within the `placement` constraint.
                  readOnly: true
                maxContextLength:
                  type: integer
                  format: int32
                  description: >-
                    The maximum context length supported by the model (context
                    window).

                    If set to 0 or not specified, the model's default maximum
                    context length will be used.
                updateTime:
                  type: string
                  format: date-time
                  description: The update time for the deployment.
                  readOnly: true
                disableDeploymentSizeValidation:
                  type: boolean
                  description: Whether the deployment size validation is disabled.
                enableHotLoad:
                  type: boolean
                  description: Whether to use hot load for this deployment.
                hotLoadBucketType:
                  $ref: '#/components/schemas/DeploymentHotLoadBucketType'
                  title: >-
                    hot load bucket name, indicate what type of storage to use
                    for hot load
                enableHotReloadLatestAddon:
                  type: boolean
                  description: >-
                    Allows up to 1 addon at a time to be loaded, and will merge
                    it into the base model.
                deploymentShape:
                  type: string
                  description: >-
                    The name of the deployment shape that this deployment is
                    using.

                    On the server side, this will be replaced with the
                    deployment shape version name.
                activeModelVersion:
                  type: string
                  description: >-
                    The model version that is currently active and applied to
                    running replicas of a deployment.
                targetModelVersion:
                  type: string
                  description: >-
                    The target model version that is being rolled out to the
                    deployment.

                    In a ready steady state, the target model version is the
                    same as the active model version.
                replicaStats:
                  $ref: '#/components/schemas/gatewayReplicaStats'
                  description: >-
                    Per-replica deployment status counters. Provides visibility
                    into the deployment process

                    by tracking replicas in different stages of the deployment
                    lifecycle.
                  readOnly: true
                hotLoadBucketUrl:
                  type: string
                  title: >-
                    For hot load bucket location

                    e.g for s3: s3://mybucket/<object_path>; for GCS:
                    gs://mybucket/<object_path>, no trailing slash
                pricingPlanId:
                  type: string
                  description: >-
                    Optional pricing plan ID for custom billing configuration.

                    If set, this deployment will use the pricing plan's billing
                    rules

                    instead of default billing behavior.
                hotLoadTrainerJob:
                  type: string
                  title: >-
                    Trainer job whose hot_load_bucket_url this deployment should
                    use.

                    At creation, the trainer's bucket URL is copied into this
                    deployment's

                    hot_load_bucket_url. The deployment continues working after
                    the trainer

                    is deleted (snapshot-at-creation semantics).

                    Format: accounts/{account}/rlorTrainerJobs/{job}
              title: >-
                The properties of the deployment being updated.
                `deployment.name` must

                be populated with the updated resource's name.
              required:
                - baseModel
        description: |-
          The properties of the deployment being updated. `deployment.name` must
          be populated with the updated resource's name.
        required: true
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    delete:
      summary: Delete Deployment
      operationId: Gateway_DeleteDeployment
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
      parameters:
        - name: hard
          description: If true, this will perform a hard deletion.
          in: query
          required: false
          schema:
            type: boolean
        - name: ignoreChecks
          description: >-
            If true, this will ignore checks and force the deletion of a
            deployment that is currently

            deployed and is in use.
          in: query
          required: false
          schema:
            type: boolean
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: deployment_id
          in: path
          required: true
          description: The Deployment Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/deployments/{deployment_id}/ledger:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: Get ledger
      operationId: Gateway_GetLedger
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayGetLedgerResponse'
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: deployment_id
          in: path
          required: true
          description: The Deployment Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
    delete:
      summary: Reset ledger for hot load
      operationId: Gateway_ResetLedger
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account Id
          schema:
            type: string
        - name: deployment_id
          in: path
          required: true
          description: The Deployment Id
          schema:
            type: string
      tags:
        - gateway.openapi_Gateway
      security:
        - BearerAuth: []
  /v1/accounts/{account_id}/deployments/{deployment_id}/shards:
    servers:
      - url: https://api.fireworks.ai
    get:
      summary: List Deployment Shards
      operationId: Gateway_ListDeploymentShards
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayListDeploymentShardsResponse'
      parameters:
        - name: pageSize
          description: >-
            The maximum number of deployment shards to return. The maximum
            page_size is 200,

            values above 200 will be coerced to 200.

            If unspecified, the default is 50.
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: pageToken
          description: >-
            A page token, received from a previous ListDeploymentShards call.
            Provide this

            to retrieve the subsequent page. When paginating, all other
            parameters

            provided to ListDeploymentShards must match the call that provided
            the page

            token.
          in: query
          required: false
          schema:
            type: string
        - name: filter
[...]
